<div class="url-container">
    <div>
        <label>URL</label>
        <input #urlInput [(ngModel)]="form.url" (keyup)="onKeyPress($event)" type="text" placeholder="Enter URL here..."/>
    </div>

    <div>
        <button (click)="go()">Go</button>
    </div>

    <div *ngIf="resInfo.shortUrl !== ''">
        <span>The short url of </span>{{urlInput.value}}<span> is </span>{{ resInfo.shortUrl }}
    </div>

    <div *ngIf="resInfo.longUrl !== ''">
        You are about to redirect to {{ resInfo.longUrl }} in 2 seconds
    </div>
</div>